body {
    max-width: 720px;
    margin: auto !important;
    display: flex;
}

.header-section {
    order: 1;
    display: block !important;
}

.auth-container {
    order: 4;
    display: block !important;
}

.footer-section {
    order: 5;
}

#content {
    display: block !important;
    background: white;
    position: relative;
    z-index: 99999999;
    padding-bottom: 20px;
    order: 2;
}

.imp-dialog {
    position: relative !important;
    order: 3;
    display: flex !important;
    justify-content: center;
    overflow-y: inherit !important;
}

.imp-dialog .imp-frame-pc.imp-frame-danal {
    height: 800px !important;
    margin-top: -210px;
    width: 100% !important;
    margin-left: 0 !IMPORTANT;
    position: initial !important;
}

.imp-dialog .imp-frame-mobile.imp-frame-danal {
    height: 800px !important;
    margin-top: -210px;
    width: 100% !important;
    margin-left: 0 !IMPORTANT;
    position: initial !important;
}

/* #content * {
display: block !important;
} */
:root {
    --background-color1: #fff;
    --background-color2: #f0f2f4;
    --background-color3: #e8e8e9;
    --red-color1: red;
    --red-color2: #ff3a4a;
    --red-color3: #ff9c9d;
    --red-color4: #d7341d;
    --blue-color1: #bbddf6;
    --blue-color2: #7cc0f4;
    --blue-color3: #2496ec;
    --blue-color4: #ecf1ff;
    --blue-color5: #6686d6;
    --blue-color6: #0036bb;
    --green-color1: #14734e;
    --green-color2: #7db19c;
    --grey-scale-color1: #f0f2f4;
    --grey-scale-color2: #d8d8d8;
    --grey-scale-color3: #a7a7a7;
    --grey-scale-color4: #969696;
    --grey-scale-color5: #7a7a7a;
    --grey-scale-color6: #505050;
    --grey-scale-color7: #222;
    --grey-scale-color8: #f4f4f4;
    --grey-scale-color9: #999;
    --grey-scale-color10: #bdbdbd;
    --grey-scale-color11: #3c3c3c;
    --grey-scale-color12: #fbfbfb;
    --grey-scale-color13: #333;
    --grey-scale-color14: #858585;
    --ext-join-color1: var(--blue-color4);
    --ext-join-color2: var(--blue-color5);
    --ext-join-color3: var(--blue-color6);
    --ext-join-color4: var(--blue-color6);
    --ext-join-color5: var(--blue-color5);
    --ext-join-color6: var(--blue-color6);
    --ext-join-color7: var(--blue-color5);
    --ext-join-color8: var(--blue-color6)
}

html {
    height: 100%;
    overflow-y: auto
}

::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0
}

*,
:after,
:before {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a,
a * {
    text-decoration: none
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
s,
samp,
section,
select,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0
}

body {
    -webkit-text-size-adjust: none;
    background-color: var(--background-color1);
    color: #000;
    display: flex;
    flex-direction: column;
    font-family: Noto Sans KR;
    font-size: 16px;
    height: 100%
}

section {
    flex: 1
}

body * {
    font-family: inherit
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 750px;
    width: 100%
}

button {
    background: none;
    border: none;
    cursor: pointer
}

button,
input[type=date],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=phone],
input[type=search],
input[type=tel],
input[type=text],
select,
textarea {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    max-width: 100%
}

.join-wrap {
    display: none;
    flex: 1 0 auto;
    flex-direction: column;
    position: relative
}

.footer-section,
.header-section {
    flex: 0 0 auto
}

.object-img {
    pointer-events: none
}

.header-section {
    width: 100%
}

.header-section .ext-join-common {
    color: var(--grey-scale-color13);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    padding: 8px 20px 0;
    text-align: left
}

.header-section .ext-join-common span {
    color: var(--red-color1);
    font-weight: 400
}

.header-section .ext-join-common .divider {
    border-bottom: 1px solid var(--grey-scale-color1);
    padding: 4px 20px
}

.header-section .kt-event,
.header-section .skt-event {
    background: var(--grey-scale-color12);
    color: var(--grey-scale-color13);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    padding: 12px 20px;
    text-align: left;
    text-align: center
}

.header-section .kt-event span,
.header-section .skt-event span {
    color: var(--red-color1);
    font-weight: 400
}

.content-container .ext-join-common .detail {
    background: var(--background-color1);
    display: flex;
    font-size: 12px;
    font-weight: 400;
    justify-content: start;
    line-height: 17px;
    text-align: left;
    justify-content: center;
}

.content-container .ext-join-common .detail img {
    height: 100%;
    max-width: 360px;
    width: 100%
}

.content-container .ext-join-common .fee {
    color: var(--red-color2);
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 8px;
    text-align: left
}

.content-container .ext-join-common .service-intro {
    background: var(--ext-join-color1);
    padding: 12px 20px
}

.content-container .ext-join-common .service-intro .ico-list-container {
    background: var(--background-color1);
    border: .85px solid var(--ext-join-color2);
    border-radius: 14px
}

.ico-list-container .ico-list {
    display: flex;
    justify-content: center
}

.ico-list-container .ico-list .ico {
    display: flex;
    padding: 12px 14px 14px
}

.content-container .kt-event,
.content-container .skt-event {
    padding-bottom: 24px
}

.content-container .skt-event .title {
    color: var(--grey-scale-color7);
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 12px;
    text-align: left
}

.content-container .skt-event .sub-title {
    color: var(--red-color1);
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left
}

.content-container .kt-event .img-container,
.content-container .skt-event .img-container {
    display: flex;
    flex-direction: column;
    gap: 0
}

.tel-container {
    height: 44px;
    margin: 24px 20px 12px
}

.tel-container,
.tel-container .tel-button {
    align-items: center;
    display: flex;
    justify-content: center
}

.tel-container .tel-button {
    border: 1px solid var(--grey-scale-color2);
    color: var(--grey-scale-color9);
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    line-height: 23px
}

.tel-container .tel-button.selected {
    background: var(--ext-join-color3);
    border: 1px solid var(--ext-join-color3);
    color: var(--background-color1);
    font-size: 16px;
    font-weight: 700;
    line-height: 23px
}

.tel-container .tel-button:first-child {
    border-radius: 4px 0 0 4px
}

.tel-container .tel-button:last-child {
    border-radius: 0 4px 4px 0
}

.tel-container .tel-button:nth-child(2) {
    border-left: none;
    border-right: none
}

.tel-container .tel-button:nth-child(2).selected {
    border: 1px solid var(--ext-join-color3)
}

.tel-container .tel-button.disabled {
    cursor: not-allowed
}

.tel-container .tel-button.disabled .object-img {
    filter: opacity(.2)
}

.terms-container {
    padding: 12px 20px 0
}

.terms-container .terms-box {
    border: 1px solid var(--grey-scale-color2);
    border-radius: 4px
}

.terms-container .terms-all {
    background: var(--grey-scale-color1);
    border-bottom: 1px solid var(--grey-scale-color2);
    border-radius: 4px 4px 0 0;
    padding: 12px 8px
}

.terms-container .terms-all label {
    align-items: center;
    display: flex
}

.terms-container .terms-all input[type=checkbox] {
    height: 17px;
    margin-left: 3px;
    margin-right: 7.5px;
    width: 17px
}

.terms-container .terms-all .checkbox-btn-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    margin: 3px 0;
    text-align: left
}

.terms-container .terms-list {
    display: grid;
    gap: 10px 4px;
    grid-template-columns: repeat(2, 1fr);
    margin: 13px 10px
}

.terms-container .terms-list label {
    align-items: center;
    color: var(--grey-scale-color4);
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: 400;
    height: 20px;
    line-height: 14px;
    margin-bottom: 2px;
    text-align: left
}

.terms-container .terms-list input[type=checkbox] {
    height: 13px;
    margin-left: 3px;
    margin-right: 7px;
    width: 13px
}

.terms-container .terms-checkbox input {
    accent-color: var(--ext-join-color3)
}

.auth-container {
    padding: 0 20px
}

.auth-container input[type=tel] {
    border-radius: 4px;
    font-size: 16px;
    height: 44px;
    padding: 13px 12px
}

.auth-container input::placeholder {
    color: var(--grey-scale-color4);
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left
}

.auth-container .phone-number {
    border: 1px solid var(--grey-scale-color2);
    width: 100%
}

.auth-container .certification-number-box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 8px
}

.auth-container .certification-number-box .retry-btn {
    color: var(--grey-scale-color4);
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    letter-spacing: -.04em;
    line-height: 23px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: underline
}

.auth-container .certification-number {
    border: 1px solid var(--red-color2);
    width: calc(100% - 75px)
}

.auth-container .certification-input-wrapper {
    align-items: center;
    display: flex;
    position: relative;
    width: calc(100% - 75px)
}

.auth-container .certification-input-wrapper .certification-number {
    flex: 1;
    padding-right: 50px
}

.auth-container .certification-input-wrapper .certification-timer {
    color: var(--red-color2);
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 12px
}

.auth-container button {
    align-items: center;
    border: 1px solid var(--grey-scale-color2);
    border-radius: 4px;
    color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    height: 52px;
    justify-content: center;
    margin-top: 8px;
    padding: 12px 24px;
    text-align: center;
    width: 100%
}

.auth-container .request-auth-btn {
    background: var(--ext-join-color4)
}

.auth-container .request-auth-btn.btn-disabled {
    background: var(--ext-join-color5)
}

.auth-container .request-sub-btn {
    background: var(--ext-join-color6)
}

.auth-container .request-sub-btn.btn-disabled {
    background: var(--ext-join-color7)
}

.auth-container .price-notice {
    color: var(--red-color1);
}

.auth-container .price-notice,
.auth-container .price-notice span {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: center
}

.auth-container .close-btn {
    align-items: center;
    color: var(--grey-scale-color2);
    display: flex;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    line-height: 17px;
    margin-top: 20px
}

.extra-intro {
    padding: 40px 20px 0
}

.extra-intro .title {
    color: var(--grey-scale-color7);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 32px;
    text-align: left
}

.extra-intro .sub-title {
    color: var(--grey-scale-color5);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.03em;
    line-height: 18px;
    margin-top: 12px;
    text-align: left
}

.extra-intro .icon-list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 16px
}

.complete-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
    padding: 0 20px
}

.complete-container img {
    height: 63px;
    width: 63px
}

.complete-container .title {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    padding-top: 20px;
    text-align: left
}

.complete-container .detail {
    color: var(--grey-scale-color5);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 12px;
    text-align: center
}

.complete-container .detail span {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center
}

.complete-container .ext-web-login-btn {
    align-items: center;
    background-color: var(--blue-color6);
    border-radius: 4px;
    color: #fff;
    display: none;
    font-size: 16px;
    font-weight: 700;
    height: 52px;
    justify-content: center;
    line-height: 26px;
    margin-top: 40px;
    padding: 12px 24px;
    width: 100%
}

.footer-section {
    background: var(--grey-scale-color1);
    display: none;
    margin-top: 36px;
    padding: 24px 20px;
    width: 100%
}

.footer-section h3 {
    font-weight: 700
}

.footer-section h3,
.footer-section h5 {
    color: var(--grey-scale-color5);
    font-size: 12px;
    letter-spacing: -.03em;
    line-height: 18px
}

.footer-section h5 {
    font-weight: 400
}

.footer-section ul {
    padding-left: 20px
}

.footer-section .store ul {
    list-style-type: disc
}

.footer-section .use li:not(:last-of-type) {
    margin-bottom: 2px
}

.footer-section .precautions-info,
.footer-section .prize-info,
.footer-section .service-info {
    margin-top: 20px
}

.footer-section .company-info {
    margin-top: 12px
}

.footer-section .company-info .detail {
    margin-top: 8px;
    padding: 0 16px
}

.footer-section .company-info .detail a {
    color: var(--grey-scale-color5)
}

.footer-section .terms-info {
    align-items: center;
    display: flex;
    gap: 4px;
    margin-bottom: 12px
}

.footer-section .terms-info .terms-divider {
    background: #d9d9d9;
    height: 14px;
    width: 1px
}

.terms-modal {
    background: rgba(0, 0, 0, .5);
    font-size: .625rem;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100
}

.terms-modal,
.terms-modal .modal-close {
    align-items: center;
    display: flex;
    justify-content: center
}

.terms-modal .modal-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    width: 40px
}

.terms-modal .content {
    background: var(--background-color1);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    color: var(--grey-scale-color7);
    font-size: 1.5rem;
    height: 80%;
    letter-spacing: -.05rem;
    overflow: auto;
    position: relative;
    width: 90%
}

.terms-modal .content .title {
    align-items: center;
    background: var(--background-color1);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    position: sticky;
    top: 0
}

.terms-modal .content .title h2 {
    font-size: 16px;
    margin: 0
}

.terms-modal .content .detail {
    font-size: 12px;
    padding: 0 20px 40px;
    white-space: pre-line;
    word-break: break-all
}

.terms-modal .content h2 {
    color: var(--grey-scale-color7);
    font-size: 14px;
    margin-bottom: 14px
}

.terms-modal .content table {
    border-collapse: collapse;
    border-right: 1px solid #333;
    border-spacing: 0;
    border-top: 1px solid var(--grey-scale-color6);
    letter-spacing: -2px;
    width: 100%
}

.terms-modal .content th {
    background-color: var(--background-color3)
}

.terms-modal .content td,
.terms-modal .content th {
    border-bottom: 1px solid var(--grey-scale-color6);
    border-left: 1px solid var(--grey-scale-color6);
    padding: .5rem
}

.modal-open {
    position: fixed
}

.one-btn-modal {
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
}

.one-btn-modal .one-btn-modal-content {
    background-color: var(--background-color1);
    border-radius: 8px;
    margin: 0 40px;
    max-width: 400px;
    padding: 20px;
    width: 100%
}

.one-btn-modal .one-btn-modal-content .title {
    color: var(--grey-scale-color7);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: left
}

.one-btn-modal .one-btn-modal-content .content {
    color: var(--grey-scale-color7);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: left
}

.one-btn-modal .modal-btn span {
    align-items: flex-end;
    background: var(--ext-join-color8);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    padding: 12px 16px;
    text-align: center
}

.one-btn-modal .one-btn-modal-content .kt-mvno-modal-content {
    color: var(--grey-scale-color5);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: left
}

.one-btn-modal .one-btn-modal-content .kt-mvno-modal-content .content-terms {
    align-items: start;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 12px
}

.one-btn-modal .one-btn-modal-content .kt-mvno-modal-content .content-terms h5 {
    color: var(--grey-scale-color7);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px
}

.one-btn-modal .one-btn-modal-content .kt-mvno-modal-content .content-terms span {
    color: var(--grey-scale-color5);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    min-width: max-content;
    text-decoration: underline
}

.two-btn-modal {
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
}

.two-btn-modal .two-btn-modal-content {
    background-color: #fff;
    border-radius: 8px;
    margin: 0 40px;
    max-width: 400px;
    padding: 20px;
    position: relative;
    width: 100%
}

.two-btn-modal .two-btn-modal-content .title {
    color: var(--grey-scale-color7);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -.04em;
    line-height: 26px;
    margin-bottom: 16px;
    text-align: left
}

.two-btn-modal .two-btn-modal-content .content {
    color: var(--grey-scale-color5);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.04em;
    line-height: 22px;
    margin-bottom: 32px;
    text-align: left
}

.two-btn-modal .modal-close-btn {
    height: 2.86em;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 2.86em
}

.two-btn-modal .modal-btn {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 16px;
    width: 100%
}

.two-btn-modal .modal-btn .white-btn {
    background: #fff;
    border: 1px solid var(--ext-join-color8);
    border-radius: 8px;
    color: var(--grey-scale-color11)
}

.two-btn-modal .modal-btn .color-btn,
.two-btn-modal .modal-btn .white-btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    justify-content: center;
    padding: 12px;
    text-align: center
}

.two-btn-modal .modal-btn .color-btn {
    background: var(--ext-join-color8);
    border-radius: 8px;
    color: #fff
}

.error-section {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center
}

.error-section .error-img {
    height: 120px;
    margin-bottom: 20px;
    width: 120px
}

.error-section h3 {
    color: var(--grey-scale-color6);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center
}

.error-section h4 {
    color: var(--grey-scale-color5);
    font-size: 14px;
    font-weight: 400;
    text-align: center
}

.error-common {
    align-items: center;
    background-color: var(--grey-scale-color7);
    border-radius: 8px;
    display: none;
    margin: 24px 24px 40px;
    padding: 16px 24px;
    text-align: center
}

.error-common .error-common-btn {
    color: var(--background-color1);
    font-size: 16px;
    font-weight: 400
}

.ext-join-common,
.kt-event,
.skt-event {
    display: none
}

.spinner-overlay {
    align-items: center;
    background-color: hsla(0, 0%, 100%, .8);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000
}

.spinner {
    animation: spin 1s linear infinite;
    border: 8px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    border-top-color: #000;
    height: 50px;
    width: 50px
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.skt-float-btn .skt-event {
    background-color: #ffc800;
    border-radius: 24px 24px 0 0;
    bottom: 0;
    height: 96px;
    max-width: 750px;
    position: fixed;
    width: 100%
}

.skt-float-btn .skt-event .content {
    color: #fff;
    font-family: Nanum Gothic;
    font-weight: 700;
    padding: 16px 0 24px;
    text-align: center
}

.skt-float-btn .skt-event .content h5 {
    font-size: 20px;
    letter-spacing: -.06em;
    line-height: 25px
}

.skt-float-btn .skt-event .content h4 {
    font-size: 25px;
    letter-spacing: -.06em;
    line-height: 32px
}

.ab-test-line {
    border-bottom: 1px solid var(--grey-scale-color1);
    display: none;
    margin: 0 20px
}